body{
background-image: url();
background-size: cover;
background-attachment: fixed;
font-family: Arial;
padding-bottom: 50px;
}

.bg-light{
background-color: rgba(255, 255, 255, 0.9) !important;
border-radius: 5px;
margin-top: 20px;
border: 1px solid #ccc;
padding: 40px;
}

h1{
color: #0d6efd; 
font-weight: bold;
}

h4{
margin-bottom: 20px;
margin-top: 10px;
border-bottom: 1px solid #eee;
}

label{
font-size: 14px;
font-weight: bold;
}

input, select{
margin-bottom: 10px;
}